@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Arima:wght@100..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  transition: all 0.5s;
}

.font-roboto-slab {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.font-archivo {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .font-roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }

  .font-arima {
    font-family: "Arima", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .slide-in {
    transform: translateX(0); 
    opacity: 1;
    transition: transform 0.5s, opacity 0.5s;
  }
  
  .slide-out {
    transform: translateX(100%); 
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
  }

  .line-right:after {
    position: absolute;
    content: '';
    width: 50%;
    height: 5%;
    background: #fff;
    left: 0px;
    bottom: -10px;
   opacity: 0.25;
}
